SPRING_DATASOURCE_URL=jdbc:postgresql://ep-billowing-hall-a10fjnjb-pooler.ap-southeast-1.aws.neon.tech/truckDatabase?sslmode=require&channel_binding=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=npg_6CDVyJx7aWkr
