SPRING_DATASOURCE_URL=jdbc:postgresql://<HOST>.ap-southeast-1.aws.neon.tech/<DATABASE>?sslmode=require&channel_binding=require
SPRING_DATASOURCE_USERNAME=<USERNAME>
SPRING_DATASOURCE_PASSWORD=<PASSWORD>
APP_JWT_SECRET=<JWT_SECRET>
